.main__history-list {
  list-style: none;
  min-height: 235px;
  padding: 0;
  padding-top: 40px;
}

.main__history-list--second {
  padding-left: 123px;
}

.main__history-item {
  display: flex;
  position: relative;
  font-size: 18px;
  margin-bottom: 26px;
}

.main__history-item p {
  margin-top: 0;
  margin-bottom: 0;
}

.main__history-had {
  margin-left: 45px;
}

.main__history-arrow {
  margin-left: 10px;
}

.main__history-got {
  margin-left: 10px;
}
